<!-- BEGIN: ACCORDIONS -->
<div class="c-content-box c-size-lg c-bg-parallax" style="background-image: url({{ asset('storage/backgrounds/sb-bg-top.jpg') }})" >
    <div class="container">
        <div class="c-content-title-1">
            <h3 class="c-center c-font-uppercase c-font-bold">Empowerment Groups</h3>
            <div class="c-line-center c-theme-bg"></div>
            <p class="c-font-center">Here is a current list of groups, meeting times and leaders. Feel free to contact any group leader to discover what is a good fit for you.</p>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="c-content-accordion-1 c-theme">
                    <div class="panel-group" id="accordion" role="tablist">
                        <div class="panel">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a class="collapsed c-font-bold c-font-19" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                        <i class="icon-clock"></i> MONDAY 3:00 PM
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body c-font-18">Leader: Dave Thomas</div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title">
                                    <a class="collapsed c-font-bold c-font-19" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        <i class="icon-clock"></i> TUESDAY 7:00 AM
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="panel-body c-font-18">Leader: Les French</div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading" role="tab" id="headingThree">
                                <h4 class="panel-title">
                                    <a class="collapsed c-font-bold c-font-19" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        <i class="icon-clock"></i> TUESDAY 7:00 AM
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                <div class="panel-body c-font-18">Leader: Kenneth Kiker, Martin Falkowski</div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading" role="tab" id="headingFour">
                                <h4 class="panel-title">
                                    <a class="collapsed c-font-bold c-font-19" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                        <i class="icon-clock"></i> TUESDAY 7:00 AM
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                                <div class="panel-body c-font-18">Leader: Jerry Emmons</div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading" role="tab" id="headingFive">
                                <h4 class="panel-title">
                                    <a class="collapsed c-font-bold c-font-19" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                        <i class="icon-clock"></i> TUESDAY 7:00 AM
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                                <div class="panel-body c-font-18">Leader: Ron Rivas</div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading" role="tab" id="headingSix">
                                <h4 class="panel-title">
                                    <a class="collapsed c-font-bold c-font-19" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                        <i class="icon-clock"></i> TUESDAY 10:00 AM
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                                <div class="panel-body c-font-18">Leader: Ronald Morris</div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="c-content-accordion-1 c-theme">
                    <div class="panel-group" id="accordion-2" role="tablist">
                        <div class="panel">
                            <div class="panel-heading" role="tab" id="headingOne-1">
                                <h4 class="panel-title">
                                    <a class="collapsed c-font-bold c-font-19" data-toggle="collapse" data-parent="#accordion-2" href="#collapseOne-1" aria-expanded="false" aria-controls="collapseOne">
                                        <i class="icon-clock"></i> WEDNESDAY
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne-1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne-1">
                                <div class="panel-body c-font-18">Leader: Charles Darland</div>
                            </div>
                        </div>

                        <div class="panel">
                            <div class="panel-heading" role="tab" id="headingTwo-1">
                                <h4 class="panel-title">
                                    <a class="collapsed c-font-bold c-font-19" data-toggle="collapse" data-parent="#accordion-2" href="#collapseTwo-1" aria-expanded="false" aria-controls="collapseTwo">
                                        <i class="icon-clock"></i> WEDNESDAY 7:30 AM
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo-1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo-1">
                                <div class="panel-body c-font-18">Leader: Roger Bogard</div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading" role="tab" id="headingThree-1">
                                <h4 class="panel-title">
                                    <a class="collapsed c-font-bold c-font-19" data-toggle="collapse" data-parent="#accordion-2" href="#collapseThree-1" aria-expanded="false" aria-controls="collapseThree">
                                        <i class="icon-clock"></i> WEDNESDAY 8:00 AM
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree-1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree-1">
                                <div class="panel-body c-font-18">Leader: Brent Carlson</div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading" role="tab" id="headingFour-1">
                                <h4 class="panel-title">
                                    <a class="collapsed c-font-bold c-font-19" data-toggle="collapse" data-parent="#accordion-2" href="#collapseFour-1" aria-expanded="false" aria-controls="collapseFour">
                                        <i class="icon-clock"></i> WEDNESDAY 10:00 AM
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseFour-1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour-1">
                                <div class="panel-body c-font-18">Leader: Terry Jackson</div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading" role="tab" id="headingFive-1">
                                <h4 class="panel-title">
                                    <a class="collapsed c-font-bold c-font-19" data-toggle="collapse" data-parent="#accordion-2" href="#collapseFive-1" aria-expanded="false" aria-controls="collapseFive">
                                        <i class="icon-clock"></i> THURSDAY 8:00 AM
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseFive-1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive-1">
                                <div class="panel-body c-font-18">Leader: TBA</div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading" role="tab" id="headingSix-1">
                                <h4 class="panel-title">
                                    <a class="collapsed c-font-bold c-font-19" data-toggle="collapse" data-parent="#accordion-2" href="#collapseSix-1" aria-expanded="false" aria-controls="collapseSix">
                                        <i class="icon-clock"></i> FRIDAY 8:00 AM
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseSix-1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix-1">
                                <div class="panel-body c-font-18">Leader: Ron Kari</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: ACCORDIONS -->